<h1>Suppliers</h1>

<table>
    <thead>
        <tr>
            <th>Company</th>
            <th>Address</th>
            <th>Work Day</th>
            <th>Work Time</th>
            <th>Dinner Break</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="7">**Global Goods Inc.**</td>
            <td rowspan="7">123 Market St, Anytown, USA</td>
            <td>Monday</td>
            <td>8:00 - 16:00</td>
            <td>12:00 - 13:00</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>9:00 - 17:00</td>
            <td>13:00 - 14:00</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>11:00 - 19:00</td>
            <td>15:00 - 16:00</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>9:00 - 18:00</td>
            <td>13:30 - 14:30</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>9:00 - 13:00</td>
            <td>12:00 - 13:30</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>N/W</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>N/W</td>
            <td>-</td>
        </tr>
        <tr>
            <td rowspan="5">**Local Supply Co.**</td>
            <td rowspan="5">456 Oak Ave, Townsville, CA</td>
            <td>Monday</td>
            <td>9:00 - 17:00</td>
            <td>13:00 - 14:00</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td>9:00 - 17:00</td>
            <td>13:00 - 14:00</td>
        </tr>
        <tr>
            <td>Wednesday</td>
            <td>9:00 - 17:00</td>
            <td>13:00 - 14:00</td>
        </tr>
        <tr>
            <td>Thursday</td>
            <td>9:00 - 17:00</td>
            <td>13:00 - 14:00</td>
        </tr>
        <tr>
            <td>Friday</td>
            <td>9:00 - 17:00</td>
            <td>13:00 - 14:00</td>
        </tr>
        <tr>
            <td rowspan="3">**Express Logistics**</td>
            <td rowspan="3">789 Pine Ln, Metropolis, NY</td>
            <td>Monday</td>
            <td>24/7</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Saturday</td>
            <td>24/7</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>24/7</td>
            <td>-</td>
        </tr>
    </tbody>
</table>